In [1]:
import pandas as pd

In [2]:
df_titanic = pd.read_csv("data/traintitanic.csv")

In [3]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
import atoti as tt

session = tt.create_session()

In [5]:
df_titanic_ss = session.read_csv("data/traintitanic.csv", keys=["PassengerId"])

In [26]:
type(df_titanic_ss)

atoti.store.Store

In [27]:

df_titanic_ss.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,N/A,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,N/A,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,N/A,S

In [28]:
titanic_cube = session.create_cube(df_titanic_ss, "titanic")

In [29]:
?session.create_cube

Signature:
session.create_cube(
    base_store: 'Store',
    name: 'Optional[str]' = None,
    *,
    mode: '_CubeCreationMode' = 'auto',
) -> 'Cube'
Docstring:
Create a cube based on the passed store.

Args:
    base_store: The base store of the cube.
    name: The name of the created cube.
        Defaults to the name of the base store.
    mode: The cube creation mode:

        * ``auto``: Creates hierarchies for every non-numeric column, and measures for every numeric column.
        * ``manual``: Does not create any hierarchy or measure (except from the count).
        * ``no_measures``: Creates the hierarchies like ``auto`` but does not create any measures.

        For stores with ``hierarchized_columns`` specified, these will be converted into
        hierarchies regardless of the cube creation mode.

See Also:
    Hierarchies and measures created by a :meth:`~atoti.store.Store.join`.
File:      ~/miniconda3/envs/atoti/lib/python3.8/site-packages/atoti/session.py
Type:      method

In [30]:
titanic_cube.hierarchies

Hierarchies()

In [31]:
m = titanic_cube.measures
m

Measures()

In [32]:
l = titanic_cube.levels
l

Levels()

In [13]:
titanic_cube.query(m["Age.MEAN"])

  Age.MEAN
0    29.70

In [14]:
titanic_cube.query(m["Age.MEAN"], levels=l["Sex"])

       Age.MEAN
Sex
female    27.92
male      30.73

In [66]:
mdx_query = """
SELECT {
[Measures].[Age.MEAN], 
[Measures].[Fare.MEAN]
} ON COLUMNS, 
{[Traintitanic].[Sex]} ON ROWS
FROM [titanic]
"""

In [93]:
mdx_query2 = """
SELECT {
[Measures].[Age.MEAN], 
[Measures].[Fare.MEAN]
} ON COLUMNS, 
 NON EMPTY Crossjoin(
{[Traintitanic].[Sex].[Sex].Members, 
[Traintitanic].[Survived].[Survived].Members}) ON ROWS
FROM [titanic]
"""

In [89]:


mdx = """SELECT
  {
    [Measures].[Price.AVG],
    [Measures].[Quantity.SUM]
  } ON COLUMNS,
  NON EMPTY Crossjoin(
    [Hierarchies].[Color].[Color].Members,
    [Hierarchies].[Continent].[Continent].Members
  ) ON ROWS
  FROM [Cube]
  """

In [90]:
titanic_cube

Cube(_name='titanic', _hierarchies=Hierarchies(), _measures=Measures())

In [91]:
session.query_mdx(mdx_query)

  Age.MEAN Fare.MEAN
0    29.70     32.20

In [94]:
session.query_mdx(mdx_query2)

RuntimeError: ('Request failed', {'status': 'error', 'error': {'errorChain': [{'type': 'MdxException', 'message': 'No matching signature for Crossjoin({[Traintitanic].[Sex].[Sex].Members, [Traintitanic].[Survived].[Survived].Members}). Available signatures are: Crossjoin(<Set> ...)'}, {'type': 'MdxException', 'message': 'Failed resolution of expression: Crossjoin({[Traintitanic].[Sex].[Sex].Members, [Traintitanic].[Survived].[Survived].Members})'}, {'type': 'MdxException', 'message': ' SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] '}, {'type': 'QueryException', 'message': 'ActivePivotSyncActionQuery: action=MdxAction (mdx= SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] ), argument=com.quartetfs.pivot.mdx.impl.BasicSelectExecutor@152b9fa6'}, {'type': 'RuntimeException', 'message': 'com.quartetfs.fwk.query.QueryException: ActivePivotSyncActionQuery: action=MdxAction (mdx= SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] ), argument=com.quartetfs.pivot.mdx.impl.BasicSelectExecutor@152b9fa6'}, {'type': 'RuntimeException', 'message': 'java.lang.RuntimeException: com.quartetfs.fwk.query.QueryException: ActivePivotSyncActionQuery: action=MdxAction (mdx= SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] ), argument=com.quartetfs.pivot.mdx.impl.BasicSelectExecutor@152b9fa6'}, {'type': 'QueryException', 'message': 'Could not execute query at epoch 1. : ActivePivotSyncActionQuery: action=MdxAction (mdx= SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] ), argument=com.quartetfs.pivot.mdx.impl.BasicSelectExecutor@152b9fa6'}, {'type': 'MdxException', 'message': 'Error with the following query:  SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] '}, {'type': 'BadArgumentException', 'message': '[400] com.quartetfs.pivot.mdx.MdxException: Error with the following query:  SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] '}], 'stackTrace': 'com.qfs.fwk.services.BadArgumentException: [400] com.quartetfs.pivot.mdx.MdxException: Error with the following query:  SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] \n\tat com.qfs.pivot.rest.query.impl.JsonQueryService.executeQuery(JsonQueryService.java:215)\n\tat com.qfs.pivot.rest.query.impl.JsonQueryService.executeMdxQuery(JsonQueryService.java:108)\n\tat com.qfs.pivot.rest.query.impl.QueriesRestService.mdxQuery(QueriesRestService.java:66)\n\tat jdk.internal.reflect.GeneratedMethodAccessor132.invoke(Unknown Source)\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)\n\tat java.base/java.lang.reflect.Method.invoke(Unknown Source)\n\tat org.apache.cxf.service.invoker.AbstractInvoker.performInvocation(AbstractInvoker.java:179)\n\tat org.apache.cxf.service.invoker.AbstractInvoker.invoke(AbstractInvoker.java:96)\n\tat org.apache.cxf.jaxrs.JAXRSInvoker.invoke(JAXRSInvoker.java:201)\n\tat org.apache.cxf.jaxrs.JAXRSInvoker.invoke(JAXRSInvoker.java:104)\n\tat org.apache.cxf.interceptor.ServiceInvokerInterceptor$1.run(ServiceInvokerInterceptor.java:59)\n\tat org.apache.cxf.interceptor.ServiceInvokerInterceptor.handleMessage(ServiceInvokerInterceptor.java:96)\n\tat org.apache.cxf.phase.PhaseInterceptorChain.doIntercept(PhaseInterceptorChain.java:308)\n\tat org.apache.cxf.transport.ChainInitiationObserver.onMessage(ChainInitiationObserver.java:121)\n\tat org.apache.cxf.transport.http.AbstractHTTPDestination.invoke(AbstractHTTPDestination.java:267)\n\tat org.apache.cxf.transport.servlet.ServletController.invokeDestination(ServletController.java:234)\n\tat org.apache.cxf.transport.servlet.ServletController.invoke(ServletController.java:208)\n\tat org.apache.cxf.transport.servlet.ServletController.invoke(ServletController.java:160)\n\tat org.apache.cxf.transport.servlet.CXFNonSpringServlet.invoke(CXFNonSpringServlet.java:225)\n\tat org.apache.cxf.transport.servlet.AbstractHTTPServlet.handleRequest(AbstractHTTPServlet.java:301)\n\tat org.apache.cxf.transport.servlet.AbstractHTTPServlet.doPost(AbstractHTTPServlet.java:220)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:665)\n\tat org.apache.cxf.transport.servlet.AbstractHTTPServlet.service(AbstractHTTPServlet.java:276)\n\tat org.springframework.web.servlet.mvc.ServletWrappingController.handleRequestInternal(ServletWrappingController.java:166)\n\tat org.springframework.web.servlet.mvc.AbstractController.handleRequest(AbstractController.java:177)\n\tat org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter.handle(SimpleControllerHandlerAdapter.java:52)\n\tat org.springframework.web.servlet.DispatcherServlet.doDispatch(DispatcherServlet.java:1060)\n\tat org.springframework.web.servlet.DispatcherServlet.doService(DispatcherServlet.java:962)\n\tat org.springframework.web.servlet.FrameworkServlet.processRequest(FrameworkServlet.java:1006)\n\tat org.springframework.web.servlet.FrameworkServlet.doPost(FrameworkServlet.java:909)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:665)\n\tat org.springframework.web.servlet.FrameworkServlet.service(FrameworkServlet.java:883)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:750)\n\tat org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:231)\n\tat org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)\n\tat org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:53)\n\tat org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)\n\tat org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)\n\tat com.qfs.pivot.servlet.impl.ContextValueFilter.doFilter(ContextValueFilter.java:67)\n\tat org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)\n\tat org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)\n\tat org.springframework.web.filter.CorsFilter.doFilterInternal(CorsFilter.java:91)\n\tat org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119)\n\tat org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)\n\tat org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)\n\tat org.springframework.web.filter.CharacterEncodingFilter.doFilterInternal(CharacterEncodingFilter.java:201)\n\tat org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119)\n\tat org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)\n\tat org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)\n\tat org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:202)\n\tat org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:97)\n\tat org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:542)\n\tat org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:143)\n\tat org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:92)\n\tat org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:78)\n\tat org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:343)\n\tat org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:374)\n\tat org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:65)\n\tat org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:888)\n\tat org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1597)\n\tat org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)\n\tat org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)\n\tat java.base/java.lang.Thread.run(Unknown Source)\nCaused by: com.quartetfs.pivot.mdx.MdxException: Error with the following query:  SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] \n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor.executeAfterParse(ASelectStatementExecutor.java:425)\n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor.executeAfterParse(ASelectStatementExecutor.java:407)\n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor.execute(ASelectStatementExecutor.java:396)\n\tat com.qfs.pivot.rest.query.impl.JsonQueryService$JsonSelectExecutor.execute(JsonQueryService.java:316)\n\tat com.qfs.pivot.rest.query.impl.JsonQueryService$JsonSelectExecutor.execute(JsonQueryService.java:294)\n\tat com.qfs.pivot.rest.query.impl.JsonQueryService.executeQuery(JsonQueryService.java:210)\n\t... 64 more\nCaused by: com.quartetfs.fwk.query.QueryException: Could not execute query at epoch 1. : ActivePivotSyncActionQuery: action=MdxAction (mdx= SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] ), argument=com.quartetfs.pivot.mdx.impl.BasicSelectExecutor@152b9fa6\n\tat com.quartetfs.biz.pivot.impl.ActivePivotVersion$QueryExecutionTask.getWithQueriesTimeLimit(ActivePivotVersion.java:1535)\n\tat com.quartetfs.biz.pivot.impl.ActivePivotVersion.execute(ActivePivotVersion.java:948)\n\tat com.quartetfs.biz.pivot.query.impl.ActivePivotSyncUtils.activePivotSyncExec(ActivePivotSyncUtils.java:94)\n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor.executeAfterParse(ASelectStatementExecutor.java:423)\n\t... 69 more\nCaused by: java.lang.RuntimeException: java.lang.RuntimeException: com.quartetfs.fwk.query.QueryException: ActivePivotSyncActionQuery: action=MdxAction (mdx= SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] ), argument=com.quartetfs.pivot.mdx.impl.BasicSelectExecutor@152b9fa6\n\tat java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)\n\tat java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)\n\tat java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)\n\tat java.base/java.lang.reflect.Constructor.newInstance(Unknown Source)\n\tat java.base/java.util.concurrent.ForkJoinTask.getThrowableException(Unknown Source)\n\tat java.base/java.util.concurrent.ForkJoinTask.get(Unknown Source)\n\tat com.quartetfs.biz.pivot.impl.ActivePivotVersion$QueryExecutionTask.getWithQueriesTimeLimit(ActivePivotVersion.java:1506)\n\t... 72 more\nCaused by: java.lang.RuntimeException: com.quartetfs.fwk.query.QueryException: ActivePivotSyncActionQuery: action=MdxAction (mdx= SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] ), argument=com.quartetfs.pivot.mdx.impl.BasicSelectExecutor@152b9fa6\n\tat java.base/java.util.concurrent.ForkJoinTask.completeExceptionally(Unknown Source)\n\tat com.qfs.concurrent.cancellable.impl.CancellableCountedCompleter.performExceptionalCompletion(CancellableCountedCompleter.java:291)\n\tat com.qfs.concurrent.cancellable.impl.CancellableCountedCompleter.onCompletion(CancellableCountedCompleter.java:278)\n\tat java.base/java.util.concurrent.CountedCompleter.tryComplete(Unknown Source)\n\tat com.quartetfs.biz.pivot.impl.ActivePivotVersion$QueryExecutionTask.afterCompute(ActivePivotVersion.java:1389)\n\tat com.qfs.concurrent.cancellable.impl.CancellableCountedCompleter.afterExec(CancellableCountedCompleter.java:157)\n\tat com.quartetfs.biz.pivot.context.impl.ContextualCancellableCountedCompleter.afterExec(ContextualCancellableCountedCompleter.java:124)\n\tat com.qfs.concurrent.cancellable.impl.CancellableCountedCompleter.compute(CancellableCountedCompleter.java:181)\n\tat java.base/java.util.concurrent.CountedCompleter.exec(Unknown Source)\n\tat java.base/java.util.concurrent.ForkJoinTask.doExec(Unknown Source)\n\tat java.base/java.util.concurrent.ForkJoinPool$WorkQueue.topLevelExec(Unknown Source)\n\tat java.base/java.util.concurrent.ForkJoinPool.scan(Unknown Source)\n\tat java.base/java.util.concurrent.ForkJoinPool.runWorker(Unknown Source)\n\tat java.base/java.util.concurrent.ForkJoinWorkerThread.run(Unknown Source)\nCaused by: com.quartetfs.fwk.query.QueryException: ActivePivotSyncActionQuery: action=MdxAction (mdx= SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] ), argument=com.quartetfs.pivot.mdx.impl.BasicSelectExecutor@152b9fa6\n\tat com.quartetfs.biz.pivot.query.impl.ActivePivotSyncActionAttachedQuery.executeAsync(ActivePivotSyncActionAttachedQuery.java:59)\n\tat com.quartetfs.biz.pivot.impl.AActivePivotQueryExecutor.executeAsync(AActivePivotQueryExecutor.java:33)\n\tat com.quartetfs.biz.pivot.impl.ActivePivotVersion.executeAttachedAsync(ActivePivotVersion.java:1132)\n\tat com.quartetfs.biz.pivot.impl.ActivePivotVersion$QueryExecutionTask.computeSafely(ActivePivotVersion.java:1378)\n\tat com.qfs.concurrent.cancellable.impl.CancellableCountedCompleter.execSafely(CancellableCountedCompleter.java:141)\n\tat com.quartetfs.biz.pivot.context.impl.ContextualCancellableCountedCompleter.execSafely(ContextualCancellableCountedCompleter.java:118)\n\tat com.qfs.concurrent.cancellable.impl.CancellableCountedCompleter.compute(CancellableCountedCompleter.java:171)\n\t... 6 more\nCaused by: com.quartetfs.pivot.mdx.MdxException:  SELECT { [Measures].[Age.MEAN],  [Measures].[Fare.MEAN] } ON COLUMNS,   NON EMPTY Crossjoin( {[Traintitanic].[Sex].[Sex].Members,  [Traintitanic].[Survived].[Survived].Members}) ON ROWS FROM [titanic] \n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor.resolve(ASelectStatementExecutor.java:239)\n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor.noSyncExecuteAfterParse(ASelectStatementExecutor.java:462)\n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor$MdxAction.execute(ASelectStatementExecutor.java:531)\n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor$MdxAction.execute(ASelectStatementExecutor.java:511)\n\tat com.quartetfs.biz.pivot.query.impl.ActivePivotSyncUtils$AAction.execute(ActivePivotSyncUtils.java:205)\n\tat com.quartetfs.biz.pivot.query.impl.ActivePivotSyncActionAttachedQuery.executeAsync(ActivePivotSyncActionAttachedQuery.java:57)\n\t... 12 more\nCaused by: com.quartetfs.pivot.mdx.MdxException: Failed resolution of expression: Crossjoin({[Traintitanic].[Sex].[Sex].Members, [Traintitanic].[Survived].[Survived].Members})\n\tat com.quartetfs.pivot.mdx.impl.SelectStatementResolver.resolve(SelectStatementResolver.java:164)\n\tat com.quartetfs.pivot.mdx.impl.SelectStatementResolver.resolveAxis(SelectStatementResolver.java:764)\n\tat com.quartetfs.pivot.mdx.impl.SelectStatementResolver.resolveNonSlicingAxes(SelectStatementResolver.java:743)\n\tat com.quartetfs.pivot.mdx.impl.SelectStatementResolver.resolveSelectBase(SelectStatementResolver.java:449)\n\tat com.quartetfs.pivot.mdx.impl.SelectStatementResolver.resolveSelect(SelectStatementResolver.java:257)\n\tat com.quartetfs.pivot.mdx.impl.SelectStatementResolver.resolve(SelectStatementResolver.java:205)\n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor.doResolve(ASelectStatementExecutor.java:281)\n\tat com.quartetfs.pivot.mdx.impl.ASelectStatementExecutor.resolve(ASelectStatementExecutor.java:233)\n\t... 17 more\nCaused by: com.quartetfs.pivot.mdx.MdxException: No matching signature for Crossjoin({[Traintitanic].[Sex].[Sex].Members, [Traintitanic].[Survived].[Survived].Members}). Available signatures are: Crossjoin(<Set> ...)\n\tat com.quartetfs.pivot.mdx.impl.SelectStatementResolver$ResolveVisitor.visit(SelectStatementResolver.java:1082)\n\tat com.quartetfs.pivot.mdx.impl.SelectStatementResolver$ResolveVisitor.visit(SelectStatementResolver.java:859)\n\tat com.quartetfs.pivot.mdx.impl.CachingVisitor.visit(CachingVisitor.java:85)\n\tat com.quartetfs.pivot.mdx.statement.impl.UnresolvedFunctionCall.accept(UnresolvedFunctionCall.java:58)\n\tat com.quartetfs.pivot.mdx.impl.SelectStatementResolver.resolve(SelectStatementResolver.java:162)\n\t... 24 more\n'}})