# review1

- Tạo hierachies 
- Tạo measurement

# Đọc data

In [1]:
import atoti as tt

In [2]:
session = tt.create_session()

In [3]:
sales_store = session.read_csv("../data/sales.csv", keys=["Sale ID"])

In [4]:
sales_store.head()

                 Date    Shop Product  Quantity  Unit price
Sale ID
S000000000 2021-02-04  shop_0   TAB_0       1.0       210.0
S000000001 2021-02-03  shop_1   TAB_1       1.0       300.0
S000000002 2021-02-02  shop_2   CHA_2       2.0        60.0
S000000003 2021-02-01  shop_3   BED_3       1.0       150.0
S000000004 2021-01-31  shop_4   BED_4       3.0       300.0

# Tạo cube

In [5]:
cube = session.create_cube(sales_store, mode="manual")

## Load các thành phần h, m, l

In [6]:
h = cube.hierarchies
h

Hierarchies()

In [7]:
l = cube.levels
l

Levels()

In [8]:
m = cube.measures
m

Measures()

## Tạo hierarchies

In [9]:
h["Product"] = [sales_store["Product"]]
h["Sale"] = [sales_store["Sale ID"]]
h["Shop"] = [sales_store["Shop"]]
h["Date"] = [sales_store["Date"]]

In [10]:
h

Hierarchies()

# Tạo measures

In [11]:
m["Max price"] = tt.agg.max(sales_store["Unit price"])
m["Quantity.SUM"] = tt.agg.sum(sales_store["Quantity"])
m["Quantity.MEAN"] = tt.agg.mean(sales_store["Quantity"])
m["Price.MEAN"] = tt.agg.mean(sales_store["Unit price"])
m["Price.SUM"] = tt.agg.sum(sales_store["Unit price"])

In [12]:
m

Measures()

# Một số query đơn giản

## Dice

Dice theo dimension shop

In [13]:
cube.query(m["Quantity.SUM"], levels=l["Shop"])

        Quantity.SUM
Shop
shop_0        202.00
shop_1        202.00
shop_10       203.00
shop_11       203.00
shop_12       201.00
shop_13       202.00
shop_14       202.00
shop_15       202.00
shop_16       201.00
shop_17       204.00
shop_18       202.00
shop_19       202.00
shop_2        202.00
shop_20       201.00
shop_21       201.00
shop_22       201.00
shop_23       203.00
shop_24       203.00
shop_25       201.00
shop_26       202.00
shop_27       202.00
shop_28       202.00
shop_29       201.00
shop_3        201.00
shop_30       204.00
shop_31       202.00
shop_32       202.00
shop_33       201.00
shop_34       201.00
shop_35       201.00
shop_36       203.00
shop_37       203.00
shop_38       201.00
shop_39       202.00
shop_4        204.00
shop_5        202.00
shop_6        202.00
shop_7        201.00
shop_8        201.00
shop_9        201.00

## Slide

Slide một shop ra

In [14]:
cube.query(m["Quantity.SUM"],
           levels=l["Shop"],
          condition = l["Shop"] == "shop_9")

       Quantity.SUM
Shop
shop_9       201.00